*{
	padding: 0;
	margin: 0;
}
form h2{
	text-align: center;
}
a{
	text-decoration: none;
}
/*svg{
	margin-left: 120px;
	margin-top: 50px;
	color: #3475F4;
}*/
.card-form{
	margin-bottom: 20px;
}
form{
	width: 500px;
	height: 530px;
	border-radius: 20px;
	background-color: #1E1E1E;
	overflow: auto;
	padding: 30px;
	margin: auto;
	color: #fff;
}
.input-form input{
	width: 440px;
	height: 2em;
	border-radius: 20px;
	background-color: transparent;
	border: 1px solid #fff;
	margin-top: 0px;
	color: #fff;
	padding: 0px 10px;
}
.input-form select{
	width: 440px;
	height: 2em;
	border-radius: 20px;
	background-color: #1E1E1E;
	border: 1px solid #fff;
	margin-top: 0px;
	color: #fff;
	padding: 0px 10px;
}
form button{
	margin: auto;
}

.container-paises{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 30px;
}
.cards-paises{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
}
.btns-cards{
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.btns-cards button{
	width: 100px;
	padding: 10px;
	margin-bottom: 20px;
	margin: auto;
}
.titulo-conteudos{
	text-align: center;
	margin-top: 50px;
}
.titulo-conteudos button{
	margin: auto;
}